html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction:column;
}

body > header, body > footer{
    height: 300px;
}

header{
    height: 75px;
    line-height: 75px;
}

main{
    flex: 1;
}

aside{
    height: 150px;
    line-height: 150px;
}


section {
    height: 150px;
    line-height: 150px;
}

div {
    display: flex;
}



div p{
    height: 250px;
    line-height: 250px;
    flex-wrap: wrap;
    flex-basis: 50%;
}

footer {
    height: 90px;
    line-height: 90px;
} 


 


/* @media screen and (min-width: 768px){

  header{
      height: 100px;
      line-height: 100px;
  }

  aside{
    float: left;
    height: 600px;
    line-height: 600px;
    width: 20%;
  }

  section {
      height: 200px;
      float: left;
      line-height: 200px;
      width: 40%;
  }
  
    p{
      width: 20%;
      height: 250px;
      line-height: 250px;
    }

    footer p{
        height: 150px;
        line-height: 150px;
        width: 80%;
    }
} */